@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap");

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.105rem;
  line-height: 2.1rem;
  color: #2b2b2b;
  overflow-x: hidden;
}

/* Overwrite emoji popup styles */
.emoji-picker__emojis {
  overflow-x: hidden;
}

.emoji-picker {
  top: 500px;
}

.emoji-picker__preview {
  border-top: none !important;
  position: absolute !important;
  bottom: -10% !important;
  left: 75% !important;
  transform: translate(-50%, -50%) !important;
  width: 250px !important;
}
